In [1]:
for i in range (1,11):
  if i==5:
    break
  print(i)

1
2
3
4

In [2]:
for i in range (1,11):
  print(i)
  if (i==5):
    break

1
2
3
4
5

In [5]:
for i in range(1,11):
  if i==5:
    continue
  print(i)
  print("Done")

print("program finish")

1
Done
2
Done
3
Done
4
Done
6
Done
7
Done
8
Done
9
Done
10
Done
program finish

In [6]:
#pass statement

In [8]:
for i in range(1,11):
  if i==5:
    pass
  print(i)

1
2
3
4
5
6
7
8
9
10

Nested loops

In [10]:
for i in range (1,4):
   print(i)
   for j in range(10,14):
    print(j)

1
10
11
12
13
2
10
11
12
13
3
10
11
12
13

In [21]:
"""
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
"""

for i in range (1,6):
  for j in range (1,6):
    print("*",end=" ")
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [23]:
"""
12345
12345
12345
12345
12345
"""

for i in range (1,6):
  for j in range(1,6):
    print(j,end=" ")
  print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [26]:
"""
54321
54321
54321
54321
54321
"""

for i in range (1,6):
  for j  in range (5,0,-1):
    print(j,end=" ")
  print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [27]:
"""
11111
22222
33333
44444
55555
"""

for i in range (1,6):
  for j in range (1,6):
    print(i,end=" ")
  print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [29]:
"""
55555
44444
33333
22222
11111
"""

for i in range(5,0,-1):
  for j in range(1,6):
    print(i,end=" ")
  print()

5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [33]:
# ask N from the user . N means number of lines . then print the following pattern

N = int(input("Enter the number: "))

for i in range(1,N+1):
  for j in range(1,N+1):
    print(i,end=" ")

  print()

Enter the number: 8
1 1 1 1 1 1 1 1
2 2 2 2 2 2 2 2
3 3 3 3 3 3 3 3
4 4 4 4 4 4 4 4
5 5 5 5 5 5 5 5
6 6 6 6 6 6 6 6
7 7 7 7 7 7 7 7
8 8 8 8 8 8 8 8

In [34]:
"""
1
12
123
1234
12345
"""

for i in range (1,6):
  for j in range (1,i+1):
    print(j,end=" ")

  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [35]:
"""
1
22
333
4444
55555
"""

for i in range (1,6):
  for j in range (1,i+1):
    print(i,end="")
  print()

1
22
333
4444
55555

In [36]:
for i in range (1,6):
  for j in range(1,i+1):
    print(i,end=" ")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [39]:
for i in range(1,6):
  for j in range(i,0,-1):
    print(j,end=" ")
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [42]:
for i in range(5,0,-1):
  for j in range(5,i-1,-1):
    print(j,end=" ")
  print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1