In [ ]:
a = [11,55,33,66,77,"Anirudh","code and debug",-988,88,55,66]

# iterate by index or position or index

for i in range (0,11):
  print(a[i])

11
55
33
66
77
Anirudh
code and debug
-988
88
55
66

In [ ]:
b = [23,45,67,88,90,556,345,755,775,765,334,66,76,2,44,556,43,67,34,76.4,34]

len(b)
for i in range (0,x):
  print(b[i])

23
45
67
88
90
556
345
755
775
765
334
66
76
2
44
556
43
67
34
76.4
34

In [ ]:
#iteration by value
b = [23,45,67,88,90,556,345,755,775,765,334,66,76,2,44,556,43,67,34,76.4,34]
for i in  b:
  print(i,end=" ")

23 45 67 88 90 556 345 755 775 765 334 66 76 2 44 556 43 67 34 76.4 34

In [ ]:
#p1
my_list =[4,-98,"code and debug",22.22,100]

#output
#100 22.22 "code and debug " -98 4

for i in range (len(my_list)-1,-1,-1):
  print(my_list[i],end=" ")

100 22.22 code and debug -98 4

In [ ]:
my_list =[51,61,99,44,66,33,66]
#  print all the even numbers
for i in range (0,len(my_list)):
  if(my_list[i]%2)==0:
    print(my_list[i],end=" ")

44 66 66

In [ ]:
my_list =[77,444,666,28748,248858,968734,2535256]
# print all the odd number present in your list

for  i in range(0,len(my_list),):
  if(i%2)!=0:
    print(my_list[i])

444
28748
968734

In [ ]:
# make your own list . print all the elements present at even index position
my_list = [44 ,55,66,77,33,66,77,44]

for i in range (0,len(my_list)):
  if (i%2)==0:
    print(my_list[i],end=" ")





#for i in range(0,len(my_list),2):
#  print(my_list[i],end=" ")
#

44 66 33 77

In [ ]:
# print the sum of all elements in list

my_list = [3,4,6,100,887,337,10]

sum=0
for i in range (0,len(my_list)):
  sum=sum+my_list[i]
print(sum)

1347

In [ ]:
# count the number of even m=numbers present in that list

my_list = [3,4,6,100,887,337,10]

count=0
for i in range(0,len(my_list)):
  if(my_list[i]%2)==0:
    count=count+1
print(count)

4

In [ ]:
#count how many numbers are divisible by 5 and 2

my_list=(736,85,3864,4832,4667,100,547667,24456,344)

count=0
for i in range(0,len(my_list)):
  if(my_list[i]%5==0 and my_list[i]%2==0):
    count=count+1
print(count)

1

In [ ]:
# find the sum of all even numbers present that the list

my_list = [2234,565,2354]

sum=0
for i in range(0,len(my_list)):
  if(my_list[i]%2==0):

    sum=sum+my_list[i]
print(sum)

4588