In [4]:
# loops in python
#print hello world 10 times
i =1

while(i<=10):
  print("hello world")
  i = i +1
print("Done")
print("bye")

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
Done
bye

In [7]:
# print 1 to 10 using while loop

i= 1

while(i<=10):
  print(i,end=" ")
  i=i+1

1 2 3 4 5 6 7 8 9 10

In [10]:
#print even numbers 1 to 20

i = 1
while(i<=50):
  if(i%2==0):
    print(i,end=" ")
  i=i+1

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [17]:
#ask a number from the user and print till the number from 1

num = int(input("Enter the number : "))

i=1
while (i<=num):
  print(i , end=" ")
  i=i+1

Enter the number : 40
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40

In [1]:
#print the number in reverse order take input from the user

num= int(input("Enter the number :"))

i= num
while(i>=1):
  print(i)
  i=i-1

Enter the number :4
4
3
2
1

In [5]:
#ask start number and end number from the user from the user print all the from start to end

start = int(input("Enter the number: "))
end = int(input("Enter the number : "))

i = start
while(i<=end):
  print(i , end=" ")
  i=i+1

Enter the number: 7
Enter the number : 100
7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [12]:
# cal sum from 1 to 10
i =1
sum =0
while(i<=10):
  sum= sum +i
  i=i+1
print(sum)

55

In [13]:
 #calculate the product of the all the numbers from 1 to 10

i= 1
pro=1

while(i<=10):
  pro=pro*i
  i=i+1
print(pro)

3628800

In [2]:
# calculate how many nubers are divisible by 7 from 1 to 100

i=1
count =0
while(i<=100):
  if(i%7)==0:
    print(i)
    count=count+1
  i=i+1
print("the exact count of the number is ",count)

7
14
21
28
35
42
49
56
63
70
77
84
91
98
the exact count of the number is  14

In [3]:
#calculate how many numbers are divisible by both 6 and 7 betwwen 1 to 200
i =1
count=0
while(i<=200):
  if(i%6==0 and i%7==0):
    print(i)
    count=count+1

  i=i+1
print("The exact count the  numbers is :",count)

42
84
126
168
The exact count the  numbers is : 4

In [1]:
#write a program to calculate the sum of all numbers divisible by 4 from 20 to 50
i = 20

total = 0
while(i<=50):
  if(i%4==0):
    total=total+i
  i=i+1

print(total)

272

In [2]:
#calculate how many number are divisible by 6 and 7 betwwen 1 to 200

i= 1
count=0

while(i<=200):
  if(i%6==0 and i%7==0):
    print(i)
    count=count+1
  i=i+1
print(count)

42
84
126
168
4

# ***For loops***

In [6]:
#print 1 to 10

for i in range (1,11):
  print(i,end=" ")
print("bye")

1 2 3 4 5 6 7 8 9 10 bye

In [10]:
#print 1 to 20 ..but ... 1 3 5 7 9 11 13 15 17 19

for i in range(1,21,2):
  print(i,end=" ")

1 3 5 7 9 11 13 15 17 19

In [13]:
#print 10 to 1

for i in range (10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [15]:
#ask number from the user . print all the numbers from 1 to that number
num = int(input("enter the number : "))

for i in range (1,num+1,1):
  print(i,end=" ")

enter the number : 56
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56

In [16]:
#ask start number and end number from the user and . print all the number from the start to end using while loop

start = int(input("Enter the number: "))
end = int(input("Enter the number : "))

for i in range (start,end+1,1):
  print(i,end=" ")

Enter the number: 67
Enter the number : 90
67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90

In [18]:
# calculate the sum of all number from 1 to 10
sum=0
for i in range (1,11,1):
  sum=sum+i
print(sum)

55

In [20]:
#claculate the product of all the numbers from 1 to 10

prod = 1
for i in range (1,11,1):
  prod=prod*i
print(prod)

3628800

In [25]:
#calculate how many numbers are divisible by 7 from 1 to 100

count = 0
for i in range (1,101,1):
  if(i%7==0):
    count=count+1
print(count)

14

In [26]:
#calculate how many numbers are divisible by 6 and 7 both from 1 to 200

count = 0
for i in range (1,101,1):
  if(i%6==0 and i%7==0):
    count=count+1
print(count)

2

In [27]:
#write a program to calculate the sum of the all the numbers divisible by 4 from 20 to 50

sum = 0
for i in range (20,51,1):
  sum = sum+i

print(sum)

1085

***Control statements in python**

*BREAK*